///*----------------------------------*\
//  #GRID
//\*----------------------------------*/

// Lost Grid is a powerful grid system built in PostCSS that works with any preprocessor
// and even vanilla CSS. You can think of it like the Autoprefixer of grid systems.
// https://github.com/peterramsing/lost

@lost gutter 20px;
@lost flexbox flex;
@lost cycle none;





///*----------------------------------*\
//  #CUSTOM GRID FOR HTML CLASSES
//\*----------------------------------*/

$pad: 20px;

.grid {
  background: white;
  margin: 0 0 $pad 0;

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;

  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  .grid &:last-of-type {
    padding-right: 0;
  }

  @media only screen and (min-width : 768px) {
    margin-top: 0;
    padding-right: $pad;
  }
}


.col-2-3,
.col-1-3,
.col-1-2,
.col-1-4,
.col-1-8 {
  width: 100%;
}

@media only screen and (min-width : 768px) {
  .col-2-3 {
    width: 66.66%;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .col-1-2 {
    width: 50%;
  }
  .col-1-4 {
    width: 25%;
  }
  .col-1-8 {
    width: 12.5%;
  }
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}