/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/

.o-wrapper {
    max-width: 940px;
    margin-right: auto;
    margin-left:  auto;
}

.o-wrapper--gutter {
    padding-left: 25px;
    padding-right: 25px;

    @media only screen and (min-width : 990px) {
        padding: 0;
    }
}
