---
layout: home
title: iOS Coach Frank 
active: home
---

<div class="c-panels">

{% for post in paginator.posts limit:5 %}
		{% if forloop.first %}


        <a class="c-panel" href="{{ post.url }}">
    		<article>
                    {% if post.thumbnail_image %}
                        <img class="c-panel__thumbnail" src="{{ post.thumbnail_image }}" alt="{{ post.title }}">
                    {% endif %}

                    <div class="c-panel__content">
            			<h2 class="c-panel__title">{{ post.title }}</h2>
            			<time class="c-panel__date">{{ post.date | date:"%b %-d, %Y" }} by Frank Courville</time>

            			<div class="c-panel__text">
            				{{ post.excerpt }}
            			</div>
            			<span class="c-panel__more">Continue reading</span>
                    </div>
    		</article>
        </a>

		{% else %}

        <a class="c-panel c-panel--half" href="{{ post.url }}">
    		<article>
                {% if post.thumbnail_image %}
                    <img class="c-panel__thumbnail" src="{{ post.thumbnail_image }}" alt="{{ post.title }}">
                {% endif %}

        			<div class="c-panel__content">
        				<time class="c-panel__date">{{ post.date | date:"%b %-d, %Y" }} by Frank Courville</time>

        				<h2 class="c-panel__title">{{ post.title }}</h2>

        				<div class="c-panel__text">
        					{{ post.excerpt }}
        				</div>
        				<span class="c-panel__more">Continue reading</span>
        			</div>
    		</article>
        </a>

		{% endif %}

	{% endfor %}

</div>

{% include paginate.html %}
