<form class="c-drip" action="https://www.getdrip.com/forms/10785459/submissions" method="post" data-drip-embedded-form="10785459">
	<h3 class="c-drip__title">{{ include.lm_headline }}</h3>
	<div class="c-drip__text">{{ include.lm_description }}</div>

    <div class="c-drip__input">
        <input class="c-drip__input__firstName" type="text" name="fields[first_name]" value="" placeholder="First name" />
        <input class="c-drip__input__email" type="email" name="fields[email]" value="" placeholder="Email" />
	<input type="hidden" name="fields[lm_title]" value="{{include.lm_title}}" />
	<input type="hidden" name="fields[lm_url]" value="{{include.lm_url}}" />
    </div>

    <input class="c-btn c-drip__btn" type="submit" name="submit" value="Send it over!" />
</form>
