<footer class="c-footer">

	<div class="o-wrapper o-wrapper--gutter c-footer__row">

		<div class="c-footer__newsletter"></div>


		<p class="c-footer__copyright">© Frank Courville — <a href="/">ioscoachfrank.com</a></p>

		<nav class="c-footer__nav">
			<a class="c-footer__nav-item" href="/">Articles</a>
			<a class="c-footer__nav-item" href="/series/">Series</a>
			<a class="c-footer__nav-item" href="/services/">Services</a>
			<a class="c-footer__nav-item" href="/about/">About</a>
			<a class="c-footer__nav-twitter" href="https://twitter.com/frankacy" target="_blank">
				<img src="/assets/img/twitter.svg" alt="Twitter">
			</a>
		</nav>

	</div>
</footer>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
