<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Favicon -->

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ce3e2c">
  <meta name="apple-mobile-web-app-title" content="Coach Frank">
  <meta name="application-name" content="Coach Frank">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">


  <!-- FACEBOOK OPEN GRAPH -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:description" content="" />
  <meta property="og:type" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="fb:admins" content=""/>


  <!-- TWITTER OPEN GRAPH -->
  <meta name="twitter:title" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />
  <meta name="twitter:image" content="" />


  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Rubik:500' rel='stylesheet'>

  <!-- TITO INTEGRATION -->
  <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
  <script src='https://js.tito.io/v1' async></script>

  {% if jekyll.environment == 'production' %}
  {% include analytics.html %}
  {% endif %}

</head>
