{% if page.active == "home" %}
    <header class="c-header">
        <div class="o-wrapper o-wrapper--gutter c-header__wrapper">

            {% if page.active == "home" %}
                <div class="c-header__content">
                    <div class="c-header__cartoon"></div>
                    <div class="c-header__border">
                        <div class="bg">
                            <form action="https://app.convertkit.com/forms/977594/subscriptions"
                                    class="c-header__board"
                                    method="post"
                                    data-sv-form="977594"
                                    data-uid="bca81ac34b"
                                    data-format="inline"
                                    data-version="5"
                                    data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;message&quot;,&quot;success_message&quot;:&quot;Success! Now check your email to confirm your subscription.&quot;,&quot;redirect_url&quot;:&quot;&quot;},&quot;modal&quot;:{&quot;trigger&quot;:null,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:null,&quot;devices&quot;:null,&quot;show_once_every&quot;:null},&quot;recaptcha&quot;:{&quot;enabled&quot;:false},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;&quot;},&quot;slide_in&quot;:{&quot;display_in&quot;:null,&quot;trigger&quot;:null,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:null,&quot;devices&quot;:null,&quot;show_once_every&quot;:null}}}">
                                <h3 class="c-header__title">Vanquish Massive View Controllers Forever</h3>

                                <div class="c-header__text">Enroll in my free 5 day course that will help you make massive view controllers a thing of the past.</div>

                                <div class="c-header__form">
                                    <input type="text" name="fields[first_name]" value="" placeholder="Your name"/>
                                    <input type="email" name="email_address" value="" placeholder="Your email"/>
                                </div>

                                <div>
                                    <button data-element="submit" class="c-btn c-header__btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--<h2 class="c-header__content-title"><span class="c-header__content-title--highlight">{{ site.header_highlight }}</span> <br> {{ site.header_regular }}</h2>
        			<p class="c-header__content-desc">{{ site.header_desc }}</p>-->

                </div>
            {% endif %}

    	</div>

    </header>
{% endif %}


