<div class="c-page__list">
	<p class="c-page__list-title">This article is part of a 4-part series on <a href="{{ site.baseurl }}{% link epic-viewcontrollercomms/index.md %}">Passing data between View Controllers</a></p>
	<ol class="c-page__list-items">
		<li><a href="{{ site.baseurl }}{% link _posts/2019-03-13-the-problem-with-apples-view-controllers.md %}">The Problem With Apple's View Controllers</a></li>
                <li><a href="{{ site.baseurl }}{% link _posts/2019-03-27-delegates.md %}">Create Concise View Controllers by Using the Delegate Pattern</a></li>
		<li>String Many View Controllers Together Using Coordinators</li>
		<li>Avoid Global State by Using the Responder Chain</li>
	</ol>
</div>
