<div class="c-page__list">
	<p class="c-page__list-title">This article is part of a 4-part series on <a href="{{ site.baseurl }}{% link epic-nsoperations/index.md %}">Building robust, reliable code with NSOperations.</a></p>
	<ol class="c-page__list-items">
		<li><a href="{{ site.baseurl }}{% link _posts/2016-12-06-getting-started-with-operations.md %}">Getting Started With NSOperation and NSOperationQueue</a></li>
		<li><a href="{{ site.baseurl }}{% link _posts/2017-03-19-chaining-nsoperations.md %}">Chaining a Series of NSOperations</a></li>
		<li><a href="{{ site.baseurl }}{% link _posts/2017-04-03-grouping-operations.md %}">Grouping Common Operations Together</a></li>
		<li>Handling UI with NSOperations</li>
	</ol>
</div>
