<div class="c-page__list">
	<p class="c-page__list-title">This article is part of a 4-part series on <a href="{{ site.baseurl }}{% link epic-collectionviewlayout/index.md %}">Building Custom Collection View Layouts.</a></p>
	<ol class="c-page__list-items">
		<li><a href="{{ site.baseurl }}{% link _posts/2018-02-19-components-collection-view-layout.md %}">The components of UICollectionViewLayout</a></li>
		<li><a href="{{ site.baseurl }}{% link _posts/2018-02-28-layout-from-scratch.md %}">Building a custom UICollectionViewLayout from scratch</a></li>
		<li>Integrating self-sizing cells in a custom layout</li>
		<li>Animating insertions and deletions</li>
	</ol>
</div>
