<div class="c-nav">
    <div class="o-wrapper">
        <div class="c-nav__content">

            <h1 class="c-nav__logo">
                <a href="/">
                    <img src="{{ site.url }}/assets/img/coach-frank-logo.png" alt="{{ site.title }}">
                </a>
                <!--<a href="/">{{ site.title }}</a>-->
            </h1>

            <nav class="c-nav__links">
                {% if page.active == "home" or page.active == "article" %}
                    <a href="/" class="c-nav__link is-active ">Articles</a>
                {% else %}
                    <a href="/" class="c-nav__link">Articles</a>
                {% endif %}

                {% if page.active == "series" %}
                    <a href="/series/" class="c-nav__link is-active">Series</a>
                {% else %}
                    <a href="/series/" class="c-nav__link">Series</a>
                {% endif %}

                {% if page.active == "workshops" %}
                    <a href="/workshops/" class="c-nav__link is-active ">Workshops</a>
                {% else %}
                    <a href="/workshops/" class="c-nav__link">Workshops</a>
                {% endif %}

                <a href="/about/" class="c-nav__link c-nav__link--contact">About</a>
            </nav>
        </div>
    </div>
</div>
