<!-- pagination (a page1 folder isn't created by Jekyll.
To avoid 404s when going to the first page it must be
specified separately) -->
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
    <div class="c-pagination">
      {% if paginator.previous_page %}
        <a class="c-pagination__newer" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer</a>
      {% else %}
        <span class="c-pagination__newer">Newer</span>
      {% endif %}


      {% if paginator.next_page %}
        <a class="c-pagination__older" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older</a>
      {% else %}
        <span class="c-pagination__older">Older</span>
      {% endif %}
    </div>
{% endif %}
