/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.c-btn {
    display: inline-block;
    padding: 7px 30px 9px 30px;
    border-radius: 100px;
    border: none;

    background-color: #ce9c49;
    color: #FFF;

    font-family: $rubik;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}
