.ck_form.ck_minimal {
  /* divider image */
	background-image: url('../img/pattern.jpg');
    background-size: cover;
	line-height: 1.5em;
	overflow: hidden;
	color: #FFFFFF;
	font-size: 16px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	clear: both;
	margin: 0;
}


.ck_form.ck_minimal h3.ck_form_title {
	text-align: left;
    color: #FFFFFF;
	margin: 0;
	font-size: 2.8rem;
    line-height: 1.2142857143;
}

.ck_form.ck_minimal h4 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	padding-top: 0px;
	margin-top: 0px;
}

.ck_form.ck_minimal p {
    padding: 0;
    margin: 11px 0 0 0;

    @media only screen and (min-width : 768px) {
        margin: 35px 0 0 0;
    }

}

.ck_form, .ck_form * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ck_form.ck_minimal .ck_form_fields {
	width: 100%;
	padding-top: 56px;
    padding-bottom: 56px;
    lost-flex-container: row;
}
/* Form fields */

.ck_errorArea {
	display: none; /* temporary */
}

#ck_success_msg {
	padding: 10px 0px;
	background: transparent;
}

.ck_form_content {
    @media only screen and (min-width : 768px) {
        lost-column: 7/12;
        lost-offset: 1/12;
    }
}

.ck_subscribe_form {
    width: 100%;
    margin-top: 26px;

    @media only screen and (min-width : 768px) {
        margin-top: 20px;
        lost-column: 4/12;
    }
}

.ck_form.ck_minimal input[type="text"], .ck_form.ck_minimal input[type="email"] {
	font-size: 1.6rem;
    font-family: $rubik;
	padding: 14px 18px;
	width: 100%;
	border: 1px solid #FFFFFF; /* stroke */
    color: #FFFFFF;
	border-radius: 5px; /* border radius */
	background-color: transparent; /* layer fill content */
	margin-bottom: 5px;
	height: auto;
	margin: 0px;
	margin-right: 2%;
	height: 42px;

}

.ck_form input[type="text"]:focus, .ck_form input[type="email"]:focus {
	outline: none;
	border-color: #aaa;
}

.ck_form.ck_minimal .ck_subscribe_button {
    width: 100%;
    color: #fff;
    margin: 14px 0 0 0;
    padding:  14px 0px;
    font-size: 1.6rem;
    line-height: 1;
    font-family: $rubik;
    background: color(primary, base);
    border-radius: 5px; /* border radius */
    cursor: pointer;
    border: none;
    text-shadow: none;
    height: 42px;
  }


.ck_form.ck_minimal .ck_guarantee {
	color: #626262;
	font-size: 12px;
	padding: 15px 0px 0px;
	display: block;
	clear: both;
}
.ck_form .ck_powered_by {
	display: block;
	color: #aaa;
	font-size: 12px;
}

.ck_form .ck_powered_by:hover {
	display: block;
	color: #444;
}

.ck_converted_content {
  display: none;
	padding: 5%;
	background: #fff;
}

.ck_form.ck_minimal.width400 .ck_subscribe_button, .ck_form.ck_minimal.width400 input[type="email"] {
		width: 100%;
		float: none;
		margin-top: 5px;
	}

.ck_slide_up, .ck_modal, .ck_slide_up .ck_minimal, .ck_modal .ck_minimal  {
	min-width: 400px;
}

.page .ck_form.ck_minimal {
	margin: 50px auto;
	max-width: 600px;
}

// ::-webkit-input-placeholder {
//     color: #FFF;
//     text-align: center;
// }

// :-moz-placeholder { /* Firefox 18- */
//     color: #FFF;
//     text-align: center;
// }

// ::-moz-placeholder {  /* Firefox 19+ */
//     color: #FFF;
//     text-align: center;
// }

// :-ms-input-placeholder {
//     color: #FFF;
//     text-align: center;
// }
