/*------------------------------------*\
  #DRIP
\*------------------------------------*/

.c-drip {
    margin-top: 51px;
    margin-bottom: 20px;
    padding: 20px 40px;
    border: 1px solid #C9C9C9;
    border-radius: 4px;
}

.c-drip__title {
    margin: 0;

    color: color(secondary, base);

    font-family: $rubik;
    font-size: 2.6rem;
    font-weight: 500;
}

.c-drip__text {
    margin: 21px 0 0 0;

    font-size: 1.5rem;
    line-height: 1.33;

    @media only screen and (min-width : 768px) {
        max-width: 75%;
    }
}

.c-drip__input {
    margin-top: 18px;

    > input {
        @media only screen and (min-width : 768px) {
            width: 40%;
            margin-right: 15px;
        }
    }


}

.c-drip__btn {
    margin-top: 25px;
}
