///*----------------------------------*\
//  #FOOTER
//\*----------------------------------*/

.c-footer {
    padding: 34px 0;

    background-color: #FFF;

    font-family: $sourcesans;
}

.c-footer__row {
    lost-flex-container: row;
}

.c-footer__copyright {
    display: block;
    width: 100%;
    margin: 0;

    font-size: 1.4rem;
    text-align: center;

    @media only screen and (min-width : 768px) {
        lost-column: 1/3;

        text-align: left;
    }
}

.c-footer__nav {
    display: block;
    width: 100%;
    margin-top: 13px;

    text-align: center;

    @media only screen and (min-width : 768px) {
        lost-column: 2/3;
        margin-top: 0;

        text-align: right;
    }
}

.c-footer__nav-item {
    display: none;

    @media only screen and (min-width : 768px) {
        display: inline-block;
        padding-left: 10px;

        font-size: 1.2rem;

        &:before {
            content: '/';
            padding-right: 10px;

            font-family: $sourcesans;
            color: #C9C9C9;
        }

        &:first-child {
            padding-left: 0;

            &:before {
                content: '';
                padding-right: 0;
            }
        }
    }
}

.c-footer__nav-twitter {
    @media only screen and (min-width : 768px) {
        margin-left: 58px;
    }
}
