///*----------------------------------*\
//  #HEADER
//\*----------------------------------*/

.c-header {
    display: flex;

    min-height: 490px;
    padding-bottom: 55px;

    background-image: url('../img/coach-frank-pattern.png');
    background-color: #00C2D2;
}

.c-header__wrapper {
    display: flex;
    width: 100%;
}

.c-header__content {
    position: relative;

    display: flex;
    width: 100%;
}


.c-header__cartoon,
.c-header__form {
    display: inline-block;
}

.c-header__cartoon {
    width: 200px;

    overflow: hidden;
    position: relative;
    z-index: 2;

    bottom: -105px;
    left: 0;

    pointer-events: none;

    &:before {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        content: "";
        display: block;
        height: 0;
        padding-top: (1 / (483/464)) * 100%;

        background-image: url('../img/coach_frank.png');
        background-size: contain;
    }

    @media only screen and (min-width : 768px) {
        width: 48.276596%;

        bottom: -55px;
    }
}

.c-header__border {
    position: absolute;
    top: 45px;
    right: 30px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);

    max-width: 479px;

    @media only screen and (min-width : 768px) {
        left: inherit;

        width: 51%;

        transform: translateX(0);
    }
}

.bg {
    padding: 32px 51px 79px 51px;
    background-image: url('../img/white_board.png');
    //background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.c-header__board {
    background-color: #fff;
}

.c-header__title {
    margin: 0;

    color: color(secondary, base);

    font-family: $rubik;
    font-size: 2.6rem;
    font-weight: 500;
}

.c-header__text {
    margin: 7px 0 0 0;

    font-size: 1.5rem;
    line-height: 1.33;
}

.c-header__form {
    width: 100%;
    margin-top: 16px;

    > input {
        padding-left: 0;
        padding-right: 0;
        padding-top: 4px;
        padding-bottom: 8px;

        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 2px solid #f1f1f1;

        font-size: 1.6rem;

        font-family: $sourcesans;
    }
}

.c-header__btn {
    margin-top: 24px;
}













// .c-header__content-title {
//     margin: 0;

//     font-size: 3rem;
//     font-weight: normal;
//     line-height: 1.18;

//     @media only screen and (min-width : 480px) {
//         font-size: 4rem;
//     }

//     @media only screen and (min-width : 768px) {
//         font-size: 4.4rem;
//     }
// }

// .c-header__content-title--highlight {
//     color: color(primary, dark);
// }

// .c-header__content-desc {
//     font-size: 1.6rem;
//     line-height: 1.8;

//     @media only screen and (min-width : 480px) {
//         font-size: 1.8rem;
//     }

//     @media only screen and (min-width : 768px) {
//         font-size: 2.0rem;
//     }

// }
