///*----------------------------------*\
//  #MAIN
//\*----------------------------------*/

.c-main-home {
    position: relative;
    z-index: 3;

    padding-bottom: 47px;
    margin-top: -55px;
}
