///*----------------------------------*\
//  #NAV
//\*----------------------------------*/

.c-nav {
    background-color: #FFF;
}

.c-nav__content {
    padding-bottom: 19px;

    lost-utility: clearfix;
}


.c-nav__logo {
    margin: 0;

    img {
        max-width: 251px;
    }

    @media only screen and (min-width : 768px) {
        float: left;

        margin: 19px 0 0 0;
    }
}



.c-nav__links {
    padding-left: 25px;
    padding-right: 25px;

    color: #6d6d6d;
    font-family: $rubik;
    font-size: 1.4rem;

    @media only screen and (min-width : 768px) {
        float: right;

        margin-top: 33px;
        padding-left: 0;
        padding-right: 0;
    }
}

.c-nav__link {
    display: inline-block;
    margin-left: 17px;

    &:first-child {
        margin-left: 0;
    }

    &.is-active {
        border-top-color: color(primary, base);
    }

    @media only screen and (min-width : 768px) {
        min-width: 90px;
        padding-top: 12px;
        margin-left: 40px;
        border-top: 4px solid #e8e6e6;
    }

    @media only screen and (min-width : 940px) {
        min-width: 100px;
        margin-left: 45px;
    }
}

.c-nav__link--contact {
    padding: 0 0 0 31px;
    border-top: none;

    background-image: url('../img/letter.svg');
    background-position: left center;
    background-repeat: no-repeat;

    text-indent: -9999px;

    @media only screen and (min-width : 768px) {
        text-indent: initial;
    }
}
