///*----------------------------------*\
//  #PAGE
//\*----------------------------------*/

.c-page {
    margin-top: 45px;
    margin-bottom: 47px;

    background-color: #FFF;

    font-family: $sourcesans;

    border-radius: 5px;
    box-shadow: 0px 2px 0px 0px #D9D9D9;
}

.c-page {

    font-size: 1.8rem;


    h1 {
        margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: color(primary, base);

        a {
            color: inherit;
        }
    }

    a {
        color: color(secondary, base);
        text-decoration: underline;
    }

    .c-btn {
        color: #FFF; // specificity overwrite
        text-decoration: none;
    }

    .c-drip__title {
        color: color(secondary, base);
    }

    p {
        margin: 0;

        font-size: 1.8rem;
        font-weight: regular;
        line-height: 1.7;
        margin-bottom: 1.8rem;

        code {
            tab-size: 4;
            padding: 0px 5px;
            white-space: nowrap;
            border: 1px solid #dedede;
            background-color: #f8f8f8;
            border-radius: 3px;
            font-size: 0.9em !important;
        }
    }

    ul,
    ol {
        padding-left: 26px;

        font-weight: regular;

        li {
            margin-top: 16px;
	    line-height: 1.7;
        }
    }

    figure {
        margin: 0;
	margin-bottom: 18px;
    }

    .c-page__list-title {
        font-family: $rubik;
	font-weight: 500;
        font-size: 1.6rem; // specificity overwrite
    }

}


.c-page__content {
    padding: 60px 8.5106382979%;
}

.c-page__header {
    margin-bottom: 47px;
}

.c-page__date {
    color: #6D6D6D;
    font-family: $rubik;
    font-size: 1.1rem;
    text-transform: uppercase;
}

#disqus_thread {
    margin-top: 39px;
}


.c-page__article {
    margin-bottom: 1.8rem;
}

.c-page__list {
    padding: 18px 21px 10px;
    background-color: #FCFAF6;
    margin-bottom: 18px;
}

.c-page__list-items {
    font-family: $sourcesans;
    font-size: 1.4rem;

    > li {
        padding-left: 8px;
    }
}


.c-page__form-mandatory {
    color: #D0011B;
}

.c-page__form {
    font-family: $sourcesans;
}













