///*----------------------------------*\
//  #PAGINATION
//\*----------------------------------*/

.c-pagination {
    margin-top: 43px;

    color: #9B9B9B;

    font-size: 1.4rem;
    text-align: center;
}

.c-pagination__newer {
    padding-left: 25px;

    background-image: url(../img/newer.svg);
    background-repeat: no-repeat;
    background-position: left center;
}

.c-pagination__older {
    margin-left: 30px;
    padding-right: 25px;

    background-image: url(../img/older.svg);
    background-repeat: no-repeat;
    background-position: right center;
}
