///*----------------------------------*\
//  #PANEL
//\*----------------------------------*/


.c-panels {
    lost-flex-container: row;
}

.c-panel {
    lost-column: 1/1 20px flex;

    padding: 0;

    background-color: #FFF;

    border-radius: 5px;
    box-shadow: 0px 2px 0px 0px #D9D9D9;
}

.c-panel--half {
    margin-top: 20px;

    text-align: left;

    @media only screen and (min-width : 768px) {
        lost-column: 1/2 20px flex;
    }
}

.c-panel--half:nth-child(2n+1) {
    margin-right: 0px;
}

.c-panel__thumbnail {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.c-panel__content {
    padding: 40px 8.5106382979% 30px 8.5106382979%;

    .c-panel--half & {
        padding: 30px 8.5106382979% 30px 8.5106382979%;
    }
}

.c-panel__title {
    margin: 0;

    color: color(primary, base);
    font-size: 2.8rem;
    text-align: center;

    .c-panel--half & {
        margin-top: 22px;

        font-size: 2.2rem;
        text-align: left;
    }

}

.c-panel__date {
    display: block;

    margin-top: 36px;

    color: #6D6D6D;
    font-family: $rubik;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;

    .c-panel--half & {
        margin-top: 0;

        text-align: left;
    }
}

.c-panel__text {
    margin-top: 29px;

    font-size: 1.8rem;
    font-family: $sourcesans;
    font-weight: 300;
    line-height: 1.67;

    .c-panel--half & {
        margin-top: 20px;
    }
}

.c-panel__more {
    display: inline-block;
    margin-top: 20px;
    padding-right: 25px;

    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: right center;

    font-size: 1.2rem;
    font-family: $rubik;
    color: color(primary, dark);
}
