///*----------------------------------*\
//  #PANEL
//\*----------------------------------*/


.w-panels {
    lost-flex-container: row;

    margin-bottom: 30px;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.w-panel {
    lost-column: 1/1 20px flex;

    padding: 0;

    background-color: #FFF;

    border-radius: 5px;

    margin-top: 20px;

    box-shadow: 0px 1px 2px 0px rgba(87, 191, 207, 0.5);
}

.w-panel--half {
    text-align: left;
    box-shadow: 0px 1px 2px 0px #D9D9D9;

    @media only screen and (min-width : 768px) {
        lost-column: 1/2 20px flex;
    }
}

.w-panel--half:nth-child(2n) {
    margin-right: 0px;
}

.w-panel__thumbnail {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.w-panel__content {
    padding: 30px;
}

.w-panel__title {
    margin: 0;

    color: color(primary, base);
    font-size: 2.8rem;
    text-align: left;

    .w-panel--half & {
        font-size: 2.2rem;
        text-align: left;
    }

}

.w-panel__button {
    margin-top: 20px;
    padding-right: 25px;
}

.w-panel__date {
    display: block;

    margin-top: 20px;

    color: #6D6D6D;
    font-family: $rubik;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.w-panel__text {
    margin-top: 29px;

    font-size: 1.8rem;
    font-family: $sourcesans;
    font-weight: 300;
    line-height: 1.67;

    .w-panel--half & {
        margin-top: 20px;
    }
}

.w-panel__more {
    display: inline-block;
    margin-top: 20px;
    padding-right: 25px;

    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: right center;

    font-size: 1.4rem;
    font-family: $rubik;
    color: color(primary, dark);
}
