/*------------------------------------*\
  #FORMS
\*------------------------------------*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #C9C9C9;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #C9C9C9;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #C9C9C9;
}

label {
    padding: 0 20px;
    color: #4A4A4A;

    font-size: 1.8rem;
    font-weight: 700;
}

textarea {
    height: 120px;

    resize: none;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
textarea {
    margin-top: 10px;
    padding: 13px 20px;

    border-radius: 4px;
    border: solid 1px #c9c9c9;
    width: 100%;
}

.form-group {
    margin-top: 37px;

    &:first-child {
        margin-top: 0;
    }
}