/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

/**
 * Simple default styles for headings 1 through 6.
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: medium;
    font-family: $rubik;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

//
// h4 {
//     @include font-size($font-size-h4);
// }
//
// h5 {
//     @include font-size($font-size-h5);
// }
//
// h6 {
//     @include font-size($font-size-h6);
// }
