/*------------------------------------*\
  #PAGE
\*------------------------------------*/

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

html {
    margin: 0 auto;
    padding: 0;
    border: 0;

    font-family: $sourcesans;
    font-size: 53%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    background-color: color(background, base);
    color: #4a4a4a;

    @media only screen and (min-width : 480px) {
        font-size: 55%;
    }

    @media only screen and (min-width : 768px) {
        font-size: 62.5%;
    }
}
