<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="default">
    {% include nav.html %}
    {% include header.html %}

    <main class="o-wrapper">
        <div class="c-page">

            {% if page.thumbnail_image %}
                <img src="{{ page.thumbnail_image }}" alt="{{ page.title }}">
            {% endif %}

            <div class="c-page__content">
                {{ content }}
            </div>

        </div>
    </main>

    {% include footer.html %}

  </body>

</html>
