<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include nav.html %}
    {% include header.html %}

    <main class="o-wrapper o-wrapper--gutter c-main-home">
        {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
