---
layout: default
comments: true
---

<header class="c-page__header">
    <h1 class="c-page__title article-header">{{ page.title }}</h1>
    <time class="c-page__date">{{ page.date | date: "%b %-d, %Y" }} by Frank Courville</time>
</header>

<article class="c-page__article">
    {{ content }}
</article>

{% include disqus.html %}
