---
layout: default
---

<header class="c-page__header">
    <h1 class="c-page__title">{{ page.title }}</h1>
</header>

<article class="c-page__article">
    {{ content }}
</article>

<!-- Display ticket purchase -->
{% assign today_date = 'now' | date: '%s' %}

{% for date_time in page.next_ws_dates %}
    {% assign workshop_date = date_time.date | date: '%s' %}

    {% if today_date < workshop_date %}
        <h3> Get your ticket for the session on {{ date_time.date | date: "%A, %b %d, %Y" }}, {{ date_time.time }} </h3>

        <div>
            <tito-widget event="{{ date_time.link }}"></tito-widget>
        </div>
    {% endif %}
{% endfor %}

<!-- Display Waitlist if all sessions are in the past -->

{% assign dates = page.next_ws_dates | map: "date" %}
{% assign all_before_today = true %}

{% for date in dates %}
    {% assign check_date = date | date: '%s' %}
    {% if check_date > today_date %}
        {% assign all_before_today = false %}        
        {% break %}
    {% endif %}
{% endfor %}

{% if all_before_today == true %}
    <script async data-uid="{{ page.waitlist.data-uid }}" src=" {{ page.waitlist.src }}"></script>
{% endif %}
